html, body {
  height: 100%;
  background: #3c763d; }

.button {
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-family: "ProximaNovaRegular", sans-serif;
  font-size: 14px; }
  @media only screen and (min-width: 1921px) {
    .button {
      width: 10.42vw;
      height: 2.08vw;
      line-height: 2.08vw; } }
  @media only screen and (min-width: 1921px) {
    .button {
      font-size: 0.73vw; } }

.button--default {
  background: #FFFFFF;
  color: #97CA00; }
  .button--default:hover {
    color: #FFF;
    background: #97CA00; }

.button--green {
  color: #FFF;
  background: #97CA00; }
  .button--green:hover {
    color: #97CA00;
    background: #FFF; }

.button--green-border {
  color: #97CA00;
  border: 1px solid #97CA00;
  background: #FFF;
  transition: all 0.2s; }
  .button--green-border:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #97CA00;
    background: #97CA00; }

.button--white {
  background: #FFF;
  border: 1px solid #FFF;
  transition: all 0.2s; }
  .button--white:hover {
    color: #FFF;
    transition: all 0.4s;
    background: transparent; }

header {
  background: #000000;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 999999; }
  @media only screen and (min-width: 1921px) {
    header {
      height: 3.91vw; } }
  header .logo {
    width: 240px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 40px; }
    @media only screen and (min-width: 1921px) {
      header .logo {
        width: 12.05vw; } }
    @media only screen and (max-width: 1024px) {
      header .logo {
        left: 18px; } }
    @media only screen and (min-width: 1921px) {
      header .logo {
        left: 2.08vw; } }
  header .menu-desktop {
    margin: auto;
    position: absolute;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 27.7vw; }
    @media only screen and (min-width: 1921px) {
      header .menu-desktop {
        height: 2.08vw; } }
    header .menu-desktop ul.menu-desktop-items {
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: table-row; }
      header .menu-desktop ul.menu-desktop-items li:first-child {
        margin-left: 0; }
      header .menu-desktop ul.menu-desktop-items li:last-child {
        margin-top: 0; }
      header .menu-desktop ul.menu-desktop-items li {
        display: table-cell;
        font-size: 14px;
        font-family: "MuseoSans500", sans-serif;
        list-style-type: none;
        color: #FFF;
        float: left;
        margin: 12.5px 0 0 3.13vw; }
        @media only screen and (min-width: 1921px) {
          header .menu-desktop ul.menu-desktop-items li {
            font-size: 0.73vw; } }
        @media only screen and (min-width: 1921px) {
          header .menu-desktop ul.menu-desktop-items li {
            margin: 0.65vw 0 0 3.13vw; } }
        header .menu-desktop ul.menu-desktop-items li .button {
          font-family: "MuseoSans500", sans-serif; }
        header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-button {
          cursor: pointer;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-button:hover {
            color: #97CA00; }
          header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-button:hover + .menu-desktop-more-section {
            visibility: visible;
            opacity: 1;
            transition: .5s; }
        header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section {
          opacity: 0;
          transition: .5s;
          visibility: hidden;
          background: #FFF;
          width: 200px;
          height: 215px;
          position: absolute;
          margin: 29px 0 0 -79px;
          border-top: 0.16vw solid #c0c0c0; }
          @media only screen and (min-width: 1921px) {
            header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section {
              width: 10.42vw;
              height: 11.2vw;
              margin: 1.51vw 0 0 -4.11vw; } }
          header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section:before {
            content: '';
            position: absolute;
            height: 35px;
            width: 90%;
            top: -35px; }
            @media only screen and (min-width: 1921px) {
              header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section:before {
                height: 1.82vw;
                top: -1.82vw; } }
          header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section:hover {
            opacity: 1;
            visibility: visible; }
          header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul {
            margin: 15px 0 0 -24px;
            overflow: hidden; }
            @media only screen and (min-width: 1921px) {
              header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul {
                margin: 0.78vw 0 0 -1.25vw;
                padding-left: 2.08vw; } }
            header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li {
              float: left;
              width: 85%;
              font-family: "MuseoSans700", sans-serif;
              text-align: left;
              padding: 5px;
              margin: 0; }
              @media only screen and (min-width: 1921px) {
                header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li {
                  padding: 0.26vw; } }
              header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li:hover {
                background: #97CA00;
                color: #FFF; }
                header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li:hover a {
                  color: #FFF; }
              header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li a {
                color: #000; }
                header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li a .menu-event-section {
                  line-height: 10px; }
                  @media only screen and (min-width: 1921px) {
                    header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li a .menu-event-section {
                      line-height: 0.52vw; } }
                  header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li a .menu-event-section .event-info {
                    font-size: 8px; }
                    @media only screen and (min-width: 1921px) {
                      header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li a .menu-event-section .event-info {
                        line-height: 0.42vw; } }
                    header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li a .menu-event-section .event-info .event-info-location--san-francisco {
                      color: #E80F42; }
                    header .menu-desktop ul.menu-desktop-items li .menu-desktop-more-section ul li a .menu-event-section .event-info .event-info-location--amsterdam {
                      color: #00A8E2; }
        header .menu-desktop ul.menu-desktop-items li a {
          display: table-cell;
          text-decoration: none;
          color: #FFFFFF; }
          header .menu-desktop ul.menu-desktop-items li a:hover {
            color: #97CA00; }
  header .menu-mobile {
    display: none; }
  @media only screen and (max-width: 1279px) {
    header .menu-desktop {
      display: none; }
    header .menu-mobile {
      display: none;
      font-family: "MuseoSans700", sans-serif;
      color: #FFF;
      z-index: 99999;
      top: 74px;
      left: 0;
      background: #000000;
      position: fixed;
      height: 0;
      width: 100vw; }
      header .menu-mobile ul.menu-mobile-items {
        list-style: none;
        margin: 0;
        padding: 0; }
        header .menu-mobile ul.menu-mobile-items li {
          text-align: center;
          margin: 13px 0 19px 0; }
          header .menu-mobile ul.menu-mobile-items li .button {
            margin: auto; }
          header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-home-section, header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-more-section {
            padding: 0;
            margin: 0; }
            header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-home-section li:first-child, header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-more-section li:first-child {
              color: #97CA00;
              margin: 0 0 48px 0; }
            header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-home-section li.menu-mobile-more-button, header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-more-section li.menu-mobile-more-button {
              cursor: pointer; }
            header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-home-section li, header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-more-section li {
              margin: 0 0 19px 0; }
          header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-more-section li.menu-mobile-more-button {
            display: block; }
          header .menu-mobile ul.menu-mobile-items li ul.menu-mobile-more-section li {
            display: none; }
          header .menu-mobile ul.menu-mobile-items li a {
            text-decoration: none;
            color: #FFFFFF; }
            header .menu-mobile ul.menu-mobile-items li a .menu-event-section {
              line-height: 10px; } }
          @media only screen and (max-width: 1279px) and (min-width: 1921px) {
            header .menu-mobile ul.menu-mobile-items li a .menu-event-section {
              line-height: 0.52vw; } }
  @media only screen and (max-width: 1279px) {
              header .menu-mobile ul.menu-mobile-items li a .menu-event-section .event-info {
                font-size: 8px; } }
            @media only screen and (max-width: 1279px) and (min-width: 1921px) {
              header .menu-mobile ul.menu-mobile-items li a .menu-event-section .event-info {
                line-height: 0.42vw; } }
  @media only screen and (max-width: 1279px) {
                header .menu-mobile ul.menu-mobile-items li a .menu-event-section .event-info .event-info-location--san-francisco {
                  color: #E80F42; }
                header .menu-mobile ul.menu-mobile-items li a .menu-event-section .event-info .event-info-location--amsterdam {
                  color: #00A8E2; }
            header .menu-mobile ul.menu-mobile-items li a:hover {
              color: #97CA00; }
        header .menu-mobile ul.menu-mobile-items li.menu-mobile-item-button, header .menu-mobile ul.menu-mobile-items li.menu-mobile-item-back-button {
          position: absolute;
          right: 0;
          left: 0; }
        header .menu-mobile ul.menu-mobile-items li.menu-mobile-item-back-button {
          display: none;
          cursor: pointer;
          color: #4D4D4D;
          bottom: 98px; }
          header .menu-mobile ul.menu-mobile-items li.menu-mobile-item-back-button:hover {
            color: #FFF; }
        header .menu-mobile ul.menu-mobile-items li.menu-mobile-item-button {
          opacity: 0;
          bottom: 37px; } }
  header .hamburger-menu {
    display: none;
    float: right;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 12px;
    height: 18px;
    cursor: pointer; }
    @media only screen and (max-width: 1024px) {
      header .hamburger-menu {
        right: 14px; } }
    header .hamburger-menu span.menu-icon--item, header .hamburger-menu span.menu-icon--item:before, header .hamburger-menu span.menu-icon--item:after {
      display: block;
      background: #FFF;
      width: 26px;
      height: 3px;
      margin-top: 7px; }
      header .hamburger-menu span.menu-icon--item:before, header .hamburger-menu span.menu-icon--item:after {
        position: absolute;
        content: '';
        transition: 0.2s;
        transform: rotate(0); }
      header .hamburger-menu span.menu-icon--item:before {
        top: -8px; }
      header .hamburger-menu span.menu-icon--item:after {
        bottom: 0; }
    @media only screen and (max-width: 1279px) {
      header .hamburger-menu {
        display: block; } }
  header .hamburger-menu__opened span.menu-icon--item, header .hamburger-menu__opened .hamburger-menu span.menu-icon--item:before, header .hamburger-menu .hamburger-menu__opened span.menu-icon--item:before, header .hamburger-menu__opened .hamburger-menu span.menu-icon--item:after, header .hamburger-menu .hamburger-menu__opened span.menu-icon--item:after {
    transition: 0.1s;
    height: 0; }
    header .hamburger-menu__opened span.menu-icon--item:before {
      transition: 0.2s;
      top: 0;
      transform: rotate(45deg); }
    header .hamburger-menu__opened span.menu-icon--item:after {
      transition: 0.2s;
      top: 0;
      transform: rotate(-45deg); }

#first-page {
  position: relative;
  background: url("../../img/background.jpg") center top no-repeat;
  background-size: cover;
  height: 46.8vw;
  padding: 75px 0 0;
  width: 100%; }
  @media only screen and (min-width: 1921px) {
    #first-page {
      padding: 3.91vw 0 0; } }
  @media only screen and (max-width: 1024px) {
    #first-page {
      background: url("../../img/tablet/background.jpg") center top no-repeat;
      background-size: cover;
      height: 42.7vw; } }
  @media only screen and (max-width: 600px) {
    #first-page {
      background: url("../../img/mobile/background.jpg") center top no-repeat;
      background-size: cover;
      height: 89vw; } }
  #first-page:before {
    content: '';
    width: 100%;
    position: absolute;
    background: #000; }
    @media only screen and (max-width: 1024px) {
      #first-page:before {
        height: 26.95vw;
        margin-top: 42.5vw; } }
    @media only screen and (max-width: 600px) {
      #first-page:before {
        height: 134.69vw;
        margin-top: 89vw; } }
  #first-page .section-headline {
    margin: 11.77vw 0 0;
    text-align: center;
    font-family: 'PlayfairDisplay',sans-serif;
    font-size: 5.73vw;
    line-height: 4vw;
    font-weight: 100;
    color: #FFF; }
    #first-page .section-headline:before {
      font-size: 2.03vw;
      margin: -2.5vw 0 0 3.8vw;
      position: absolute;
      content: 'The'; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        #first-page .section-headline:before {
          margin: -2.5vw 0 0 -10.5vw;
          left: 0;
          right: 0; } }
    #first-page .section-headline:after {
      font-size: 2.03vw;
      margin: 3.7vw 0 0 -17.7vw;
      position: absolute;
      content: 'HR Shows on Earth'; }
    @media only screen and (max-width: 1024px) {
      #first-page .section-headline {
        font-size: 7.16vw;
        margin: 12.61vw 0 0;
        line-height: 4.5vw; }
        #first-page .section-headline:before {
          font-size: 2.57vw;
          margin: -3.2vw 0 0 4.8vw; } }
    @media only screen and (max-width: 1024px) and (-ms-high-contrast: active), only screen and (max-width: 1024px) and (-ms-high-contrast: none) {
      #first-page .section-headline:before {
        margin: -3.2vw 0 0 -13vw;
        left: 0;
        right: 0; } }
    @media only screen and (max-width: 1024px) {
        #first-page .section-headline:after {
          font-size: 2.57vw;
          margin: 4.6vw 0 0 -22.2vw; } }
    @media only screen and (max-width: 600px) {
      #first-page .section-headline {
        font-size: 11.2vw;
        margin: 8.44vw 0 0;
        line-height: 7vw; }
        #first-page .section-headline:before {
          font-size: 3.97vw;
          margin: -4.5vw 0 0 7.8vw; } }
    @media only screen and (max-width: 600px) and (-ms-high-contrast: active), only screen and (max-width: 600px) and (-ms-high-contrast: none) {
      #first-page .section-headline:before {
        margin: -4.5vw 0 0 -20vw;
        left: 0;
        right: 0; } }
    @media only screen and (max-width: 600px) {
        #first-page .section-headline:after {
          font-size: 3.97vw;
          margin: 7.2vw 0 0 -34.7vw; } }
  #first-page .keynote {
    color: #FFF;
    position: absolute;
    bottom: 4.17vw; }
    @media only screen and (max-width: 1024px) {
      #first-page .keynote {
        bottom: 37.89vw; } }
    @media only screen and (max-width: 600px) {
      #first-page .keynote {
        bottom: 12.5vw; } }
    #first-page .keynote .title {
      font-family: MuseoSans300, sans-serif;
      font-size: 1.25vw;
      display: block; }
      @media only screen and (max-width: 1024px) {
        #first-page .keynote .title {
          font-size: 1.56vw; } }
      @media only screen and (max-width: 600px) {
        #first-page .keynote .title {
          font-size: 3.75vw; } }
    #first-page .keynote .name {
      font-family: MuseoSans900, sans-serif;
      font-size: 1.72vw;
      display: block; }
      @media only screen and (max-width: 1024px) {
        #first-page .keynote .name {
          font-size: 2.08vw; } }
      @media only screen and (max-width: 600px) {
        #first-page .keynote .name {
          font-size: 5vw; } }
  #first-page .keynote--left {
    left: 6.25vw; }
  #first-page .keynote--right {
    right: 6.25vw;
    text-align: right; }
  #first-page .catch-word {
    text-align: center;
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 15.96vw; }
    #first-page .catch-word .mobile-sentence {
      display: none; }
    @media only screen and (max-width: 600px) {
      #first-page .catch-word {
        margin-top: 68vw; }
        #first-page .catch-word .mobile-sentence {
          display: block;
          font-family: ProximaNovaRegular, sans-serif;
          font-size: 5.31vw; } }
    #first-page .catch-word .main-sentence {
      font-family: ProximaNovaBlack, sans-serif;
      font-size: 1.82vw; }
      @media only screen and (max-width: 1024px) {
        #first-page .catch-word .main-sentence {
          font-size: 4.56vw; } }
      @media only screen and (max-width: 600px) {
        #first-page .catch-word .main-sentence {
          font-size: 7.19vw; } }
  #first-page .button-group {
    width: 425px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 18.94vw auto auto auto; }
    @media only screen and (min-width: 1921px) {
      #first-page .button-group {
        width: 22.14vw; } }
    @media only screen and (max-width: 1024px) {
      #first-page .button-group {
        margin-top: 25vw; } }
    @media only screen and (max-width: 600px) {
      #first-page .button-group {
        width: 100%;
        margin: 91.40vw auto auto auto; } }
    #first-page .button-group .button {
      float: left; }
      #first-page .button-group .button:first-child {
        margin-right: 25px; }
        @media only screen and (min-width: 1921px) {
          #first-page .button-group .button:first-child {
            margin-right: 1.3vw; } }
      @media only screen and (max-width: 600px) {
        #first-page .button-group .button {
          float: none;
          margin: auto; }
          #first-page .button-group .button:first-child {
            margin: auto auto 5.63vw auto; } }
  #first-page .brand-group {
    width: 51.1vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: 25vw auto auto; }
    @media only screen and (max-width: 1024px) {
      #first-page .brand-group {
        width: 62.6vw;
        margin: 36.23vw auto auto; } }
    @media only screen and (max-width: 600px) {
      #first-page .brand-group {
        width: 75vw;
        margin: 133.23vw auto auto; } }
    #first-page .brand-group .brand {
      float: left;
      margin: 0 0 0 2.19vw;
      line-height: 1.77vw; }
      #first-page .brand-group .brand img {
        vertical-align: middle;
        height: 100%; }
      #first-page .brand-group .brand .brand--avature {
        width: 4.84vw; }
      #first-page .brand-group .brand .brand--benify {
        width: 6.35vw; }
      #first-page .brand-group .brand .brand--cornerstone {
        width: 7.24vw; }
      #first-page .brand-group .brand .brand--ibm {
        width: 3.49vw; }
      #first-page .brand-group .brand .brand--oracle {
        width: 5.36vw; }
      #first-page .brand-group .brand .brand--oracle-mobile {
        display: none; }
      #first-page .brand-group .brand .brand--sap-success-factor {
        width: 7.71vw; }
      #first-page .brand-group .brand .brand--sap {
        width: 2.97vw; }
      #first-page .brand-group .brand .brand--workday {
        display: none; }
      @media only screen and (max-width: 1024px) {
        #first-page .brand-group .brand {
          margin: 0 4.95vw 3.78vw 0;
          line-height: 3.77vw; }
          #first-page .brand-group .brand .brand--avature {
            width: 10.94vw; }
          #first-page .brand-group .brand .brand--benify {
            width: 13.67vw; }
          #first-page .brand-group .brand .brand--cornerstone {
            width: 15.63vw; }
          #first-page .brand-group .brand .brand--ibm {
            width: 7.42vw; }
          #first-page .brand-group .brand .brand--oracle {
            display: none;
            width: 10.16vw; }
          #first-page .brand-group .brand .brand--oracle-mobile {
            display: block;
            width: 10.16vw; }
          #first-page .brand-group .brand .brand--sap-success-factor {
            width: 16.54vw; }
          #first-page .brand-group .brand .brand--sap {
            width: 6.25vw; }
          #first-page .brand-group .brand .brand--workday {
            display: block;
            width: 9.51vw; }
          #first-page .brand-group .brand:nth-child(n+5) {
            margin-right: 4vw; }
          #first-page .brand-group .brand:last-child, #first-page .brand-group .brand:nth-child(4) {
            margin-right: 0; }
          #first-page .brand-group .brand:nth-child(5n) {
            clear: both; } }
      @media only screen and (max-width: 600px) {
        #first-page .brand-group .brand {
          margin: 0 0 9.38vw 0;
          line-height: 3.77vw; }
          #first-page .brand-group .brand .brand--avature {
            width: 25.94vw;
            margin-right: 15.63vw; }
          #first-page .brand-group .brand .brand--benify {
            width: 32.81vw; }
          #first-page .brand-group .brand .brand--cornerstone {
            width: 37.50vw;
            margin-right: 18.13vw; }
          #first-page .brand-group .brand .brand--ibm {
            width: 17.81vw; }
          #first-page .brand-group .brand .brand--oracle {
            display: none; }
          #first-page .brand-group .brand .brand--oracle-mobile {
            display: block;
            width: 23.44vw;
            margin-right: 17.19vw; }
          #first-page .brand-group .brand .brand--sap-success-factor {
            width: 32.81vw; }
          #first-page .brand-group .brand .brand--sap {
            width: 11.88vw; }
          #first-page .brand-group .brand .brand--workday {
            display: block;
            width: 24.06vw; }
          #first-page .brand-group .brand:nth-child(2n) {
            margin-right: 0; }
          #first-page .brand-group .brand:nth-child(n+5) {
            margin-right: 0;
            margin-bottom: 2vw; }
          #first-page .brand-group .brand:last-child {
            margin-top: 7.38vw; } }
      #first-page .brand-group .brand:first-child {
        margin-left: 0; }

#future-work-page {
  background: #FFF; }
  @media only screen and (max-width: 1024px) {
    #future-work-page {
      margin-top: 26.5vw; } }
  @media only screen and (max-width: 600px) {
    #future-work-page {
      margin: 134.5vw 0 0 0; } }
  #future-work-page .info-icon-navbar {
    padding-top: 58px;
    margin: auto; }
    @media only screen and (min-width: 1921px) {
      #future-work-page .info-icon-navbar {
        padding-top: 3.02vw; } }
    @media only screen and (max-width: 1279px) {
      #future-work-page .info-icon-navbar {
        display: none; } }
    #future-work-page .info-icon-navbar ul {
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      margin: auto;
      display: table; }
      #future-work-page .info-icon-navbar ul li {
        display: table-cell;
        float: left;
        margin: auto;
        width: 60px;
        height: 60px;
        position: relative; }
        @media only screen and (min-width: 1921px) {
          #future-work-page .info-icon-navbar ul li {
            width: 3.13vw;
            height: 3.13vw; } }
        #future-work-page .info-icon-navbar ul li:last-child {
          margin-right: 0; }
      #future-work-page .info-icon-navbar ul svg {
        width: 50%;
        height: 50%;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
  #future-work-page .content-info {
    display: none; }
    #future-work-page .content-info h3 {
      font-family: ProximaNovaBlack, sans-serif;
      font-size: 30px;
      color: #97CA00;
      text-align: center;
      margin: 0;
      padding: 73px 0 37px 0; }
      @media only screen and (min-width: 1921px) {
        #future-work-page .content-info h3 {
          font-size: 1.56vw; } }
      @media only screen and (min-width: 1921px) {
        #future-work-page .content-info h3 {
          padding: 3.8vw 0 1.93vw 0; } }
      @media only screen and (max-width: 1024px) {
        #future-work-page .content-info h3 {
          padding: 38px 0;
          font-size: 23px; } }
    #future-work-page .content-info p {
      font-family: RobotoRegular, sans-serif;
      text-align: center;
      margin: 0 0 1.88vw 0;
      padding: 0 31.35vw;
      font-size: 14px;
      line-height: 28px; }
      @media only screen and (max-width: 1279px) {
        #future-work-page .content-info p {
          padding: 0 18vw; } }
      @media only screen and (min-width: 1921px) {
        #future-work-page .content-info p {
          padding: 0 24vw;
          font-size: 0.73vw;
          line-height: 1.46vw; } }
      @media only screen and (max-width: 1024px) {
        #future-work-page .content-info p {
          font-size: 12px;
          padding: 0 20px;
          line-height: 20px;
          margin-bottom: 30px; }
          #future-work-page .content-info p:last-child {
            padding-bottom: 40px; } }
    @media only screen and (max-width: 1024px) and (max-width: 600px) {
      #future-work-page .content-info p:last-child {
        padding-bottom: 65px; } }

    #future-work-page .content-info .button-group {
      width: 429px;
      position: relative;
      margin: 34px auto auto auto;
      padding-bottom: 112px; }
      @media only screen and (min-width: 1921px) {
        #future-work-page .content-info .button-group {
          width: 22.34vw; } }
      @media only screen and (min-width: 1921px) {
        #future-work-page .content-info .button-group {
          margin: 1.77vw auto auto auto;
          padding-bottom: 5.83vw; } }
      @media only screen and (max-width: 1024px) {
        #future-work-page .content-info .button-group {
          margin: 40px auto auto auto;
          padding-bottom: 77px; } }
      @media only screen and (max-width: 600px) {
        #future-work-page .content-info .button-group {
          width: 100%;
          margin: 30px auto auto auto;
          padding-bottom: 37px; } }
      #future-work-page .content-info .button-group .button {
        float: left; }
        #future-work-page .content-info .button-group .button:first-child {
          margin-right: 25px; }
          @media only screen and (min-width: 1921px) {
            #future-work-page .content-info .button-group .button:first-child {
              margin-right: 1.2vw; } }
        @media only screen and (max-width: 600px) {
          #future-work-page .content-info .button-group .button {
            float: none;
            margin: auto; }
            #future-work-page .content-info .button-group .button:first-child {
              margin: auto auto 18px auto; } }

#future-work-page #content-home h3 {
  color: #97CA00; }
#future-work-page #content-home .button-group .button {
  color: #97CA00;
  border: 1px solid #97CA00;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-home .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #97CA00;
    background: #97CA00; }

#future-work-page ul li#home {
  transition: all 0.6s; }
  #future-work-page ul li#home .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#home .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#home:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#home:hover .bg-color {
    fill: #97CA00; }
  #future-work-page ul li#home:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-home {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-home .bg-color {
    fill: #97CA00 !important; }

#future-work-page #content-main-stage h3 {
  color: #18A7E0; }
#future-work-page #content-main-stage .button-group .button {
  color: #18A7E0;
  border: 1px solid #18A7E0;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-main-stage .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #18A7E0;
    background: #18A7E0; }

#future-work-page ul li#main-stage {
  transition: all 0.6s; }
  #future-work-page ul li#main-stage .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#main-stage .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#main-stage:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#main-stage:hover .bg-color {
    fill: #18A7E0; }
  #future-work-page ul li#main-stage:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-main-stage {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-main-stage .bg-color {
    fill: #18A7E0 !important; }

#future-work-page #content-hr-technology h3 {
  color: #BB6E3D; }
#future-work-page #content-hr-technology .button-group .button {
  color: #BB6E3D;
  border: 1px solid #BB6E3D;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-hr-technology .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #BB6E3D;
    background: #BB6E3D; }

#future-work-page ul li#hr-technology {
  transition: all 0.6s; }
  #future-work-page ul li#hr-technology .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#hr-technology .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#hr-technology:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#hr-technology:hover .bg-color {
    fill: #BB6E3D; }
  #future-work-page ul li#hr-technology:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-hr-technology {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-hr-technology .bg-color {
    fill: #BB6E3D !important; }

#future-work-page #content-talent-recruitment h3 {
  color: #57B1B8; }
#future-work-page #content-talent-recruitment .button-group .button {
  color: #57B1B8;
  border: 1px solid #57B1B8;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-talent-recruitment .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #57B1B8;
    background: #57B1B8; }

#future-work-page ul li#talent-recruitment {
  transition: all 0.6s; }
  #future-work-page ul li#talent-recruitment .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#talent-recruitment .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#talent-recruitment:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#talent-recruitment:hover .bg-color {
    fill: #57B1B8; }
  #future-work-page ul li#talent-recruitment:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-talent-recruitment {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-talent-recruitment .bg-color {
    fill: #57B1B8 !important; }

#future-work-page #content-smart-data h3 {
  color: #885EA3; }
#future-work-page #content-smart-data .button-group .button {
  color: #885EA3;
  border: 1px solid #885EA3;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-smart-data .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #885EA3;
    background: #885EA3; }

#future-work-page ul li#smart-data {
  transition: all 0.6s; }
  #future-work-page ul li#smart-data .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#smart-data .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#smart-data:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#smart-data:hover .bg-color {
    fill: #885EA3; }
  #future-work-page ul li#smart-data:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-smart-data {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-smart-data .bg-color {
    fill: #885EA3 !important; }

#future-work-page #content-learning h3 {
  color: #00A29A; }
#future-work-page #content-learning .button-group .button {
  color: #00A29A;
  border: 1px solid #00A29A;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-learning .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #00A29A;
    background: #00A29A; }

#future-work-page ul li#learning {
  transition: all 0.6s; }
  #future-work-page ul li#learning .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#learning .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#learning:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#learning:hover .bg-color {
    fill: #00A29A; }
  #future-work-page ul li#learning:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-learning {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-learning .bg-color {
    fill: #00A29A !important; }

#future-work-page #content-adoption h3 {
  color: #80AF3F; }
#future-work-page #content-adoption .button-group .button {
  color: #80AF3F;
  border: 1px solid #80AF3F;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-adoption .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #80AF3F;
    background: #80AF3F; }

#future-work-page ul li#adoption {
  transition: all 0.6s; }
  #future-work-page ul li#adoption .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#adoption .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#adoption:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#adoption:hover .bg-color {
    fill: #80AF3F; }
  #future-work-page ul li#adoption:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-adoption {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-adoption .bg-color {
    fill: #80AF3F !important; }

#future-work-page #content-payroll h3 {
  color: #809453; }
#future-work-page #content-payroll .button-group .button {
  color: #809453;
  border: 1px solid #809453;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-payroll .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #809453;
    background: #809453; }

#future-work-page ul li#payroll {
  transition: all 0.6s; }
  #future-work-page ul li#payroll .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#payroll .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#payroll:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#payroll:hover .bg-color {
    fill: #809453; }
  #future-work-page ul li#payroll:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-payroll {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-payroll .bg-color {
    fill: #809453 !important; }

#future-work-page #content-well-being h3 {
  color: #A92A31; }
#future-work-page #content-well-being .button-group .button {
  color: #A92A31;
  border: 1px solid #A92A31;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-well-being .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #A92A31;
    background: #A92A31; }

#future-work-page ul li#well-being {
  transition: all 0.6s; }
  #future-work-page ul li#well-being .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#well-being .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#well-being:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#well-being:hover .bg-color {
    fill: #A92A31; }
  #future-work-page ul li#well-being:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-well-being {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-well-being .bg-color {
    fill: #A92A31 !important; }

#future-work-page #content-digital h3 {
  color: #EE2A7B; }
#future-work-page #content-digital .button-group .button {
  color: #EE2A7B;
  border: 1px solid #EE2A7B;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-digital .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #EE2A7B;
    background: #EE2A7B; }

#future-work-page ul li#digital {
  transition: all 0.6s; }
  #future-work-page ul li#digital .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#digital .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#digital:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#digital:hover .bg-color {
    fill: #EE2A7B; }
  #future-work-page ul li#digital:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-digital {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-digital .bg-color {
    fill: #EE2A7B !important; }

#future-work-page #content-diversity h3 {
  color: #3B8954; }
#future-work-page #content-diversity .button-group .button {
  color: #3B8954;
  border: 1px solid #3B8954;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-diversity .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #3B8954;
    background: #3B8954; }

#future-work-page ul li#diversity {
  transition: all 0.6s; }
  #future-work-page ul li#diversity .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#diversity .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#diversity:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#diversity:hover .bg-color {
    fill: #3B8954; }
  #future-work-page ul li#diversity:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-diversity {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-diversity .bg-color {
    fill: #3B8954 !important; }

#future-work-page #content-think-tank h3 {
  color: #3F80C0; }
#future-work-page #content-think-tank .button-group .button {
  color: #3F80C0;
  border: 1px solid #3F80C0;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-think-tank .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #3F80C0;
    background: #3F80C0; }

#future-work-page ul li#think-tank {
  transition: all 0.6s; }
  #future-work-page ul li#think-tank .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#think-tank .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#think-tank:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#think-tank:hover .bg-color {
    fill: #3F80C0; }
  #future-work-page ul li#think-tank:hover .bg-color-2 {
    fill: #C9A50D; }
#future-work-page ul li.selected-think-tank {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-think-tank .bg-color {
    fill: #3F80C0 !important; }

#future-work-page #content-think-tank-2 h3 {
  color: #3F80C0; }
#future-work-page #content-think-tank-2 .button-group .button {
  color: #3F80C0;
  border: 1px solid #3F80C0;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-think-tank-2 .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #3F80C0;
    background: #3F80C0; }

#future-work-page ul li#think-tank-2 {
  transition: all 0.6s; }
  #future-work-page ul li#think-tank-2 .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#think-tank-2 .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#think-tank-2:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#think-tank-2:hover .bg-color {
    fill: #3F80C0; }
  #future-work-page ul li#think-tank-2:hover .bg-color-2 {
    fill: #C9A50D; }
#future-work-page ul li.selected-think-tank-2 {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-think-tank-2 .bg-color {
    fill: #3F80C0 !important; }

#future-work-page #content-think-tank-3 h3 {
  color: #3F80C0; }
#future-work-page #content-think-tank-3 .button-group .button {
  color: #3F80C0;
  border: 1px solid #3F80C0;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-think-tank-3 .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #3F80C0;
    background: #3F80C0; }

#future-work-page ul li#think-tank-3 {
  transition: all 0.6s; }
  #future-work-page ul li#think-tank-3 .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#think-tank-3 .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#think-tank-3:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#think-tank-3:hover .bg-color {
    fill: #3F80C0; }
  #future-work-page ul li#think-tank-3:hover .bg-color-2 {
    fill: #C9A50D; }
#future-work-page ul li.selected-think-tank-3 {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-think-tank-3 .bg-color {
    fill: #3F80C0 !important; }

#future-work-page #content-disturb-hr h3 {
  color: #C9A50D; }
#future-work-page #content-disturb-hr .button-group .button {
  color: #C9A50D;
  border: 1px solid #C9A50D;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-disturb-hr .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #C9A50D;
    background: #C9A50D; }

#future-work-page ul li#disturb-hr {
  transition: all 0.6s; }
  #future-work-page ul li#disturb-hr .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#disturb-hr .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#disturb-hr:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#disturb-hr:hover .bg-color {
    fill: #C9A50D; }
  #future-work-page ul li#disturb-hr:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-disturb-hr {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-disturb-hr .bg-color {
    fill: #C9A50D !important; }

#future-work-page #content-product-demo h3 {
  color: #E41A52; }
#future-work-page #content-product-demo .button-group .button {
  color: #E41A52;
  border: 1px solid #E41A52;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-product-demo .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #E41A52;
    background: #E41A52; }

#future-work-page ul li#product-demo {
  transition: all 0.6s; }
  #future-work-page ul li#product-demo .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#product-demo .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#product-demo:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#product-demo:hover .bg-color {
    fill: #E41A52; }
  #future-work-page ul li#product-demo:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-product-demo {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-product-demo .bg-color {
    fill: #E41A52 !important; }

#future-work-page #content-chat h3 {
  color: #E41A52; }
#future-work-page #content-chat .button-group .button {
  color: #E41A52;
  border: 1px solid #E41A52;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-chat .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #E41A52;
    background: #E41A52; }

#future-work-page ul li#chat {
  transition: all 0.6s; }
  #future-work-page ul li#chat .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#chat .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#chat:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#chat:hover .bg-color {
    fill: #E41A52; }
  #future-work-page ul li#chat:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-chat {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-chat .bg-color {
    fill: #E41A52 !important; }

#future-work-page #content-business h3 {
  color: #885EA3; }
#future-work-page #content-business .button-group .button {
  color: #885EA3;
  border: 1px solid #885EA3;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-business .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #885EA3;
    background: #885EA3; }

#future-work-page ul li#business {
  transition: all 0.6s; }
  #future-work-page ul li#business .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#business .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#business:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#business:hover .bg-color {
    fill: #885EA3; }
  #future-work-page ul li#business:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-business {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-business .bg-color {
    fill: #885EA3 !important; }

#future-work-page #content-woman h3 {
  color: #EE2A7B; }
#future-work-page #content-woman .button-group .button {
  color: #EE2A7B;
  border: 1px solid #EE2A7B;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-woman .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #EE2A7B;
    background: #EE2A7B; }

#future-work-page ul li#woman {
  transition: all 0.6s; }
  #future-work-page ul li#woman .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#woman .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#woman:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#woman:hover .bg-color {
    fill: #EE2A7B; }
  #future-work-page ul li#woman:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-woman {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-woman .bg-color {
    fill: #EE2A7B !important; }

#future-work-page #content-speaker h3 {
  color: #EE2A7B; }
#future-work-page #content-speaker .button-group .button {
  color: #EE2A7B;
  border: 1px solid #EE2A7B;
  background: #FFF;
  transition: all 0.2s; }
  #future-work-page #content-speaker .button-group .button:hover {
    color: #FFF;
    transition: all 0.4s;
    border: 1px solid #EE2A7B;
    background: #EE2A7B; }

#future-work-page ul li#speaker {
  transition: all 0.6s; }
  #future-work-page ul li#speaker .bg-color {
    fill: #d1d1d1; }
  #future-work-page ul li#speaker .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li#speaker:hover {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li#speaker:hover .bg-color {
    fill: #EE2A7B; }
  #future-work-page ul li#speaker:hover .bg-color-2 {
    fill: #d1d1d1; }
#future-work-page ul li.selected-speaker {
  transition: all 0.3s;
  transform: scale(1.5); }
  #future-work-page ul li.selected-speaker .bg-color {
    fill: #EE2A7B !important; }

#download-app-page {
  background: url(../../img/download-app-page/background.jpg) top no-repeat;
  background-size: cover;
  position: relative;
  padding: 35px 10vw;
  overflow: hidden;
  margin: auto;
  text-align: center; }
  @media only screen and (min-width: 1921px) {
    #download-app-page {
      padding: 1.82vw 10vw; } }
  @media only screen and (max-width: 1024px) {
    #download-app-page {
      padding: 35px 0; } }
  #download-app-page .left-side, #download-app-page .right-side {
    width: 30vw;
    display: inline-block;
    vertical-align: middle; }
  @media only screen and (max-width: 1024px) {
    #download-app-page .left-side {
      width: 100vw; } }
  #download-app-page .left-side .mobile-phone {
    display: block;
    margin: auto;
    width: 203px; }
    @media only screen and (min-width: 1921px) {
      #download-app-page .left-side .mobile-phone {
        width: 10.57vw; } }
    @media only screen and (max-width: 1024px) {
      #download-app-page .left-side .mobile-phone {
        width: 15vw; } }
    @media only screen and (max-width: 600px) {
      #download-app-page .left-side .mobile-phone {
        width: 32vw; } }
  #download-app-page .left-side .powered-by {
    display: block;
    width: 96px;
    margin: -30px 55%; }
    @media only screen and (min-width: 1921px) {
      #download-app-page .left-side .powered-by {
        width: 5vw;
        margin: -1.56vw 55%; } }
    @media only screen and (max-width: 1024px) {
      #download-app-page .left-side .powered-by {
        margin: -1.5vw 52%;
        width: 10vw; } }
    @media only screen and (max-width: 600px) {
      #download-app-page .left-side .powered-by {
        width: 14vw;
        margin: -4.5vw 55%; } }
  #download-app-page .left-side .download-content {
    margin: auto;
    width: 100%; }
    @media only screen and (max-width: 1024px) {
      #download-app-page .left-side .download-content {
        width: 88%; } }
    @media only screen and (max-width: 600px) {
      #download-app-page .left-side .download-content {
        width: 80%; } }
    #download-app-page .left-side .download-content h3 {
      text-align: center;
      font-family: ProximaNovaBlack, sans-serif;
      font-size: 30px;
      padding-top: 37px; }
      @media only screen and (min-width: 1921px) {
        #download-app-page .left-side .download-content h3 {
          font-size: 1.56vw;
          padding-top: 1.93vw; } }
      @media only screen and (max-width: 600px) {
        #download-app-page .left-side .download-content h3 {
          font-size: 27px; } }
    #download-app-page .left-side .download-content p {
      text-align: center;
      font-family: RobotoRegular, sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin: 0 0 30px 0; }
      @media only screen and (min-width: 1921px) {
        #download-app-page .left-side .download-content p {
          font-size: 0.73vw;
          line-height: 1.25vw;
          margin: 0 0 1.56vw 0; } }
    #download-app-page .left-side .download-content .download-button-group {
      text-align: center; }
      #download-app-page .left-side .download-content .download-button-group .apple-store-download-button, #download-app-page .left-side .download-content .download-button-group .google-download-button {
        width: 135px; }
      @media only screen and (min-width: 1921px) {
        #download-app-page .left-side .download-content .download-button-group .apple-store-download-button, #download-app-page .left-side .download-content .download-button-group .google-download-button {
          width: 7.03vw; } }
      #download-app-page .left-side .download-content .download-button-group .google-download-button {
        margin-right: 30px; }
      @media only screen and (max-width: 375px) {
        #download-app-page .left-side .download-content .download-button-group {
          width: 135px;
          margin: auto; }
          #download-app-page .left-side .download-content .download-button-group .google-download-button {
            margin: 15px 0; } }
  #download-app-page .right-side {
    width: 40vw;
    max-width: 1248px; }
    @media only screen and (max-width: 1024px) {
      #download-app-page .right-side {
        width: 100vw; } }
    #download-app-page .right-side .illustration {
      width: 100%; }
      @media only screen and (min-width: 1921px) {
        #download-app-page .right-side .illustration {
          width: 29vw; } }
      @media only screen and (max-width: 1024px) {
        #download-app-page .right-side .illustration {
          width: 50%;
          margin: 35px auto; } }
      @media only screen and (max-width: 600px) {
        #download-app-page .right-side .illustration {
          width: 80%; } }
    #download-app-page .right-side .button {
      margin: 35px auto; }
      @media only screen and (min-width: 1921px) {
        #download-app-page .right-side .button {
          margin: 1.82vw auto; } }

/*# sourceMappingURL=main.css.map */
