//=============== Colors ===============//
$theme-color : #97CA00;
$link-color : #FFFFFF;

//=============== Fonts ===============//
$desktop-menu-item-font : 'MuseoSans500', sans-serif;
$mobile-menu-item-font : 'MuseoSans700', sans-serif;
$button-font : 'ProximaNovaRegular', sans-serif;


//=============== Size ===============//
$header-height : 75px;

//=============== Icon Navbar Colors ===============//

$navbar-theme-home-color: $theme-color;
$navbar-theme-main-stage-color: #18A7E0;
$navbar-theme-hr-technology-color: #BB6E3D;
$navbar-theme-talent-recruitment: #57B1B8;
$navbar-theme-smart-data: #885EA3;
$navbar-theme-learning: #00A29A;
$navbar-theme-adoption: #80AF3F;
$navbar-theme-payroll: #809453;
$navbar-theme-well-being: #A92A31;
$navbar-theme-digital: #EE2A7B;
$navbar-theme-diversity-color: #3B8954;
$navbar-theme-think-tank-color:#3F80C0;
$navbar-theme-think-tank-color-2:#C9A50D;
$navbar-theme-think-tank-2-color:#3F80C0;
$navbar-theme-think-tank-3-color:#3F80C0;
$navbar-theme-disturb-hr-color: #C9A50D;
$navbar-theme-product-demo-color: #E41A52;
$navbar-theme-chat-color: #E41A52;
$navbar-theme-business-color: #885EA3;
$navbar-theme-woman-color: #EE2A7B;
$navbar-theme-speaker-color: #EE2A7B;